body {
	background: url(../img/background.png) center top no-repeat;
	background-size: cover;
	margin: 0;
	padding: 0;
	font-family: 'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	font-size: 18px;
	font-weight: lighter;
	color: #ffffff;
}
p {
	/*font-weight: normal;*/
}
.container {
	padding: 1.5em;
}
.geo-coordinates {
	font-size: 2.2em;
	border-right: solid 1px #fff;
	height: 100%;
	background: url(../img/sf-bay-area-map1.png) center center no-repeat;
	background-position: right;
}
h1 {
	font-size: 3em;
	text-align: center;
}
.one {
	border-bottom: solid 1px #fff;
}
.two {
	height: 150px;
	padding-top: 0;
}
.three {
	border-top: solid 1px #fff;
	height: 100%;
}
.report {
	text-align: center;
	padding-bottom: 1em;
	font-size: 20px;
}
#displayDate {
	font-size: 1.5em;
}
#displayMagnitude {
	font-size: 5em;
	padding-left: 1.1em;
}
.four{
	border-top: solid 1px #fff;
	height: 100%;
}
aside {
	border-right: solid 1px #fff;
	text-align: center;
}

aside a {
	color: white;
	font-weight: normal;
}

.to-do,
.probability {
	padding-top: 1.2em;
}
/*#diplayProbability {
	height:  150px;
	width: auto;
}*/