body {
	background: url(../img/background.png) center top no-repeat;
	background-size: cover;
	margin: 0;
	padding: 0;
	font-family: 'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	font-size: 18px;
	color: #ffffff;
}

.container {
	padding: 3em;
}

h1 {
	font-size: 4em;
	text-align: center;
	font-weight: lighter;
}
.report {
	text-align: center;
}